{% extends "base_generic.html" %}

{% load static %}
{% block content %}

{% load my_tags %}

<style>
table {
    border-collapse:collapse;

}
table, th, td {
    border:1px solid black;}


</style>


<form action="{% url 'WetCellDatabase:define_bulk_electrolyte' %}" method="post">
    {% csrf_token %}


    {% if bulk_parameters_form %}
        <input type="submit" name = 'bulk_parameters_update' value="Change Defaults">
        {% if bulk_entries_formset %}
            <input type="submit" name = 'bulk_process_entries' value="Register These Electrolytes">
        {% endif %}
        <br>
        Start Barcode: {{bulk_parameters_form.start_barcode}} End Barcode: {{bulk_parameters_form.end_barcode}}
        <br>
        <table>
            <tr>
                <th></th>
                <th>Dry Cell Model</th>
                <th>Proprietary?</th>
                <th>Use Proprietary in Name?</th>
                <th>Notes</th>
                <th>Molecules:</th>
                {% for molecule in bulk_parameters_form.get_molecule_fields %}
                    <th>{{ molecule }}
                    </th>
                {% endfor %}
            </tr>
            <tr>
                <th>Defaults:</th>
                <td>{{bulk_parameters_form.dry_cell}}</td>
                <td>{{bulk_parameters_form.proprietary}}</td>
                <td>{{bulk_parameters_form.proprietary_name}}</td>
                <td>{{bulk_parameters_form.notes}}</td>
                <th>Default Amounts:</th>

                {% for value in bulk_parameters_form.get_value_fields %}
                    <td>{{ value }}
                    </td>
                {% endfor %}
            </tr>
            {% if bulk_entries_formset %}
                {% csrf_token %}
                {{ bulk_entries_formset.management_form }}

                <tr>Barcode:<th></th><th></th><th></th><th>Electrolytes:</th></tr>
                {%for entry in bulk_entries_formset %}
                    <tr>
                        <td>{{entry.barcode}}</td>
                        <td>{{entry.dry_cell}}</td>
                        <td>{{entry.proprietary}}</td>
                        <td>{{entry.proprietary_name}}</td>
                        <td>{{entry.notes}}</td>
                        <td>
                            {% if messages %}
                                {{ messages|index:forloop.counter0 }}
                            {% endif %}
                        </td>

                        {% for value in entry.get_value_fields %}
                            <td>{{ value }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endif %}

        </table>

    {% endif %}

</form>
{% endblock %}