<table>
    <tr>
        <th></th><th>Value</th><th>Use in Name?</th>
    </tr>
    <tr>
        <th>Notes: </th><td>{{define_dry_cell_form.notes}}</td>
    </tr>
    <tr>
        <th>Proprietary: </th><td>{{define_dry_cell_form.proprietary}}</td> <td>{{define_dry_cell_form.proprietary_name}} </td>
    </tr>
    <tr>
        <th>Cathode: </th><td>{{define_dry_cell_form.cathode}}</td> <td>{{define_dry_cell_form.cathode_name}} </td>
    </tr>
    <tr>
        <th>Cathode Loading: </th><td>{{define_cathode_geometry_form.loading}}<br>{{define_cathode_geometry_form.loading.help_text}}</td> <td>{{define_cathode_geometry_form.loading_name}} </td>
    </tr>
    <tr>
        <th>Cathode Density: </th><td>{{define_cathode_geometry_form.density}}<br>{{define_cathode_geometry_form.density.help_text}}</td> <td>{{define_cathode_geometry_form.density_name}} </td>
    </tr>
    <tr>
        <th>Cathode Thickness: </th><td>{{define_cathode_geometry_form.thickness}}<br>{{define_cathode_geometry_form.thickness.help_text}}</td> <td>{{define_cathode_geometry_form.thickness_name}} </td>
    </tr>

    <tr>
        <th>Anode: </th><td>{{define_dry_cell_form.anode}}</td> <td>{{define_dry_cell_form.anode_name}} </td>
    </tr>
    <tr>
        <th>Anode Loading: </th><td>{{define_anode_geometry_form.loading}}<br>{{define_anode_geometry_form.loading.help_text}}</td> <td>{{define_anode_geometry_form.loading_name}} </td>
    </tr>
    <tr>
        <th>Anode Density: </th><td>{{define_anode_geometry_form.density}}<br>{{define_anode_geometry_form.density.help_text}}</td> <td>{{define_anode_geometry_form.density_name}} </td>
    </tr>
    <tr>
        <th>Anode Thickness: </th><td>{{define_anode_geometry_form.thickness}}<br>{{define_anode_geometry_form.thickness.help_text}}</td> <td>{{define_anode_geometry_form.thickness_name}} </td>
    </tr>


    <tr>
        <th>Separator: </th><td>{{define_dry_cell_form.separator}}</td> <td>{{define_dry_cell_form.separator_name}} </td>
    </tr>
    <tr>
        <th>Separator Thickness: </th><td>{{define_separator_geometry_form.thickness}}<br>{{define_separator_geometry_form.thickness.help_text}}</td> <td>{{define_separator_geometry_form.thickness_name}} </td>
    </tr>
    <tr>
        <th>Separator Width: </th><td>{{define_separator_geometry_form.width}}<br>{{define_separator_geometry_form.width.help_text}}</td> <td>{{define_separator_geometry_form.width_name}} </td>
    </tr>

    <tr>
        <th>Geometry Category: </th><td>{{define_dry_cell_geometry_form.geometry_category}}<br>{{define_dry_cell_geometry_form.geometry_category.help_text}}</td> <td>{{define_dry_cell_geometry_form.geometry_category_name}} </td>
    </tr>

    <tr>
        <th>Width: </th><td>{{define_dry_cell_geometry_form.width}}<br>{{define_dry_cell_geometry_form.width.help_text}}</td> <td>{{define_dry_cell_geometry_form.width_name}} </td>
    </tr>
    <tr>
        <th>Length: </th><td>{{define_dry_cell_geometry_form.length}}<br>{{define_dry_cell_geometry_form.length.help_text}}</td> <td>{{define_dry_cell_geometry_form.length_name}} </td>
    </tr>
    <tr>
        <th>Thickness: </th><td>{{define_dry_cell_geometry_form.thickness}}<br>{{define_dry_cell_geometry_form.thickness.help_text}}</td> <td>{{define_dry_cell_geometry_form.thickness_name}} </td>
    </tr>


</table>

Override Target (leave blank to define a brand new dry cell):
<br>
{{define_dry_cell_form.override_target}}
<br>