<table>
    <tr>
        <th></th><th>Value</th><th>Use in Name?</th>
    </tr>
    <tr>
        <th>Notes: </th><td>{{define_electrode_form.notes}}</td>
    </tr>
    <tr>
        <th>Proprietary: </th><td>{{define_electrode_form.proprietary}}</td> <td>{{define_electrode_form.proprietary_name}} </td>
    </tr>
    <tr>
        <th>Electrode Type: </th><td>{{define_electrode_form.composite_type}}</td> <td>{{define_electrode_form.composite_type_name}} </td>
    </tr>


    <tr>
        <th>Loading: </th><td>{{define_electrode_geometry_form.loading}}<br>{{define_electrode_geometry_form.loading.help_text}}</td> <td>{{define_electrode_geometry_form.loading_name}} </td>
    </tr>
    <tr>
        <th>Density: </th><td>{{define_electrode_geometry_form.density}}<br>{{define_electrode_geometry_form.density.help_text}}</td> <td>{{define_electrode_geometry_form.density_name}} </td>
    </tr>
    <tr>
        <th>Thickness: </th><td>{{define_electrode_geometry_form.thickness}}<br>{{define_electrode_geometry_form.thickness.help_text}}</td> <td>{{define_electrode_geometry_form.thickness_name}} </td>
    </tr>



</table>

+Override Target (leave blank to define a brand new electrode):
<br>
{{define_electrode_form.override_target}}
<br>