<table>
    <tr>
        <th></th><th>Value</th><th>Use in Name?</th>
    </tr>
    <tr>
        <th>Notes: </th><td>{{lot_info_form.notes}}</td>
    </tr>
    <tr>
        <th>Creator: </th><td>{{lot_info_form.creator}}</td><td>{{lot_info_form.creator_name}}</td>
    </tr>
    <tr>
        <th>Vendor: </th><td>{{lot_info_form.vendor}}</td><td>{{lot_info_form.vendor_name}}</td>
    </tr>
    <tr>
        <th>Date: </th><td>{{lot_info_form.date}} <br> {{lot_info_form.date.help_text}}</td><td>{{lot_info_form.date_name}}</td>
    </tr>
</table>
{{predefined_label}}: {{predefined}}
<br>