{% extends "base_generic.html" %}

{% load static %}
{% block content %}


<style>
table {
    border-collapse:collapse;

}
table, th, td {
    border:1px solid black;}


</style>


<h1>Search Stuff</h1>



<form action="{% url 'WetCellDatabase:search_page' %}" method="post">
    {% csrf_token %}
        {% if electrolyte_form %}
            <h2>Electrolyte</h2>
                <table>{{ electrolyte_form.as_table }}</table>
                {% if electrolyte_composition_formset %}
                    {% csrf_token %}
                    {{ electrolyte_composition_formset.management_form }}
                    <table>
                        <tr>
                            <th>Molecule</th><th>Lot</th><th>Type of Molecule</th><th>Must have?</th><th>Amount</th><th>Tolerance</th>
                        </tr>
                        {% for form in electrolyte_composition_formset%}
                            <tr>
                                <td>{{ form.molecule}}</td><td>{{ form.molecule_lot}}</td><td>{{ form.component_type}}</td><td>{{form.must_type}}</td><td>{{ form.ratio}}</td><td>{{ form.tolerance}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
                <input type="submit" name = 'preview_electrolyte' value="Preview Electrolyte">

                {%if electrolyte_preview_formset %}
                    {% csrf_token %}
                    {{ electrolyte_preview_formset.management_form }}
                    {% if not electrolyte_preview_formset|length == 0%}
                        <h3>Preview</h3>
                            <table>
                                <tr>
                                    <th>Electrolyte</th><th>Exclude</th>
                                </tr>
                                {% for form in electrolyte_preview_formset %}
                                    {% for hidden in form.hidden_fields %}
                                        {{hidden}}
                                    {% endfor %}
                                    <tr>
                                        <td>{{ form.electrolyte}}</td><td>{{ form.exclude}}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                    {% endif %}
                {% endif %}
        {% endif %}




</form>



{% endblock %}