<table>
    <tr>
        <th></th><th>Value</th><th>Use in Name?</th>
    </tr>
    <tr>
        <th>Notes: </th><td>{{define_separator_form.notes}}</td>
    </tr>
    <tr>
        <th>Proprietary: </th><td>{{define_separator_form.proprietary}}</td> <td>{{define_separator_form.proprietary_name}} </td>
    </tr>

    <tr>
        <th>Thickness: </th><td>{{define_separator_geometry_form.thickness}}<br>{{define_separator_geometry_form.thickness.help_text}}</td> <td>{{define_separator_geometry_form.thickness_name}} </td>
    </tr>
    <tr>
        <th>Width: </th><td>{{define_separator_geometry_form.width}}<br>{{define_separator_geometry_form.width.help_text}}</td> <td>{{define_separator_geometry_form.width_name}} </td>
    </tr>



</table>

Override Target (leave blank to define a brand new separator):
<br>
{{define_separator_form.override_target}}
<br>