<table>
    <tr>
        <th></th><th>Value</th><th>Use in Name?</th>
    </tr>
    <tr>
        <th>Notes: </th><td>{{define_coating_form.notes}}</td>
    </tr>
    <tr>
        <th>Proprietary: </th><td>{{define_coating_form.proprietary}}</td> <td>{{define_coating_form.proprietary_name}} </td>
    </tr>
    <tr>
        <th>Description: </th><td>{{define_coating_form.description}}</td><td>{{define_coating_form.description_name}}</td>
    </tr>

</table>

Override Target (leave blank to define a brand new dry cell):
<br>
{{define_coating_form.override_target}}
<br>