<table>
    <tr>
        <th></th><th>Value</th><th>Use in Name?</th>
    </tr>
    <tr>
        <th>Notes: </th><td>{{define_molecule_form.notes}}</td>
    </tr>
    <tr>
        <th>Smiles: </th><td>{{define_molecule_form.smiles}}</td> <td>{{define_molecule_form.smiles_name}} </td>
    </tr>
    <tr>
        <th>Type: </th><td>{{define_molecule_form.component_type}}</td> <td>{{define_molecule_form.component_type_name}} </td>
    </tr>
    <tr>
        <th>Proprietary: </th><td>{{define_molecule_form.proprietary}}</td> <td>{{define_molecule_form.proprietary_name}} </td>
    </tr>

</table>

Override Target (leave blank to define a brand new molecule):
<br>
{{define_molecule_form.override_target}}
<br>