{% extends "base_generic.html" %}

{% load static %}
{% block content %}


<style>
table {
    border-collapse:collapse;

}
table, th, td {
    border:1px solid black;}


</style>


<h1>Search Stuff</h1>



<form action="{% url 'cell_database:search_page' %}" method="post">
    {% csrf_token %}
        {% if electrolyte_form %}
            <h2>Electrolyte</h2>
                <table>{{ electrolyte_form.as_table }}</table>
                {% if electrolyte_composition_formset %}
                    {% csrf_token %}
                    {{ electrolyte_composition_formset.management_form }}
                    <table>
                        <tr>
                            <th>Molecule</th><th>Must have?</th><th>Amount</th><th>Tolerance</th>
                        </tr>
                        {% for form in electrolyte_composition_formset%}
                            <tr>
                                <td>{{ form.molecule}}</td><td>{{form.must_type}}</td><td>{{ form.ratio}}</td><td>{{ form.tolerance}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
                <input type="submit" name = 'preview_electrolyte' value="Preview Electrolyte">
                <input type="submit" name = 'preview_wet_cell' value="Preview Wet Cell">
                {%if preview_electrolytes %}
                    {% if not preview_electrolytes|length == 0%}
                        <table>
                            <tr>
                                <th>Preview Electrolytes</th>
                            </tr>
                            {% for electrolyte in preview_electrolytes %}
                                <tr>
                                    <td>{{electrolyte}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                {% endif %}

               {%if preview_wet_cells %}
                    {% if not preview_wet_cells|length == 0%}
                        <table>
                            <tr>
                                <th>Preview Wet Cells</th>
                            </tr>
                            {% for wet_cell in preview_wet_cells %}
                                <tr>
                                    <td>{{wet_cell}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                {% endif %}

        {% endif %}




</form>



{% endblock %}