{% extends "ElectrolyteDatabase/main_page.html" %}

{% block content %}


<style>
    table {
        border-collapse:collapse;

    }
    table, th, td {
        border:1px solid black;}

</style>

<form action="{% url 'ElectrolyteDatabase:register_new_anode_specific_material_ratio' %}" method="post" enctype="multipart/form-data">

{% csrf_token %}

{% if show_existing_table %}

<strong>Existing Anode Specific Materials</strong>


<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Family
        </th>
    </tr>
    {% for mat in list_of_anode_specific_material_ratios %}
        <tr>
            <td>{{ mat.name }}</td><td>{{ mat.anode_family }}</td>
        </tr>
    {% endfor %}

</table>
<br><br>
{% endif %}

<strong>Register New Anode Specific Materials</strong>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Anode Family
        </th>

    </tr>
    <tr>
        <td>{{ register_anode_specific_materials_form.name }}</td><td>{{ register_anode_specific_materials_form.anode_family }}</td>
    </tr>

</table>

<input type="submit" name ='register_new_anode_specific_material_ratio' value="Submit" />

</form>

<br>

<a href="{% url 'ElectrolyteDatabase:register_new_anode_family' %}">Register New Anode Family</a>

<br>

{% endblock %}