
<br>

<a href="{% url 'ElectrolyteDatabase:main_page' %}">Return to main page</a>

<br><br><br>


<style>
    table {
        border-collapse:collapse;

    }
    table, th, td {
        border:1px solid black;}

</style>

<style>

.column {
  float: left;
  width: 30%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

</style>


{% block content %}

<form action="{% url 'ElectrolyteDatabase:register_or_modify_dry_cell_models' %}" method="post" enctype="multipart/form-data">

<row class="row">

    {% csrf_token %}

    {{ cathode_component_formset.management_form }}
    {{ anode_component_formset.management_form }}
    {{ cell_attribute_formset.management_form }}
    {{ anode_conductive_additive_formset.management_form }}
    {{ cathode_conductive_additive_formset.management_form }}



    {% if choose_dry_cell_form %}

        Choose Cell To Modify : {{ choose_dry_cell_form.cell_model   }}

        <input type="submit" name = 'choose_cell' value="Choose Cell" />


</row>

<br>
OR
<br><br>
{% endif %}


<row class="row">

    {% if choose_dry_cell_form %}

        Register New Dry Cell :

        <input type="submit" name = 'register_new_dry_cell' value="Register New Dry Cell" />

    {% endif %}
</row>



{% if show_modify_page %}
<br>


<row class="row">

<div class="column" style="background-color:#aaa;">

{% if not new_dry_cell %}

    <input type="submit" name ='make_changes_to_dry_cell' value="Update Dry Cell" />

{% else %}

    <input type="submit" name ='submit_new_dry_cell' value="Submit Dry Cell" />

{% endif %}


<h2 style="color:mediumblue;">Cell Info</h2>

    {% if cell_basics_form %}

    <h3 style="color:darkRed;">Cell Basics</h3>

    <table>


        {% for field in cell_basics_form %}
        <tr>

             <td>{{ field.label_tag }}</td><td>{{ field }}</td>

        </tr>
        {% endfor %}

    </table>

    {% endif %}

    {% if cell_attribute_formset %}
        <br>
        <strong>Cell Attributes</strong>

        {% for form in cell_attribute_formset %}
            <br>
            {{ form.hidden_id }}
            {{ form.attribute }}


        {% endfor %}

        <br>

        <a href="{% url 'ElectrolyteDatabase:register_new_cell_attribute' %}">Register New Cell Attribute</a>

        <br>


    {% endif %}





    {% if cell_mechanical_pouch_form %}

    <h3 style="color:darkRed;">Mechanical Pouch</h3>

    <table>

        {% for field in cell_mechanical_pouch_form %}
        <tr>

             <td>{{ field.label_tag }}</td><td>{{ field }}</td>

        </tr>
        {% endfor %}

    </table>

    {% endif %}



    {% if cell_separator_form %}

    <h3 style="color:darkRed;">Separator</h3>

    <table>


        {% for field in cell_separator_form %}
        <tr>

             <td>{{ field.label_tag }}</td><td>{{ field }}</td>

        </tr>
        {% endfor %}

    </table>

    {% endif %}


    {% if cell_build_info_form %}

    <h3 style="color:darkRed;">Build Info</h3>

    <table>


        {% for field in cell_build_info_form %}
        <tr>

             <td>{{ field.label_tag }}</td><td>{{ field }}</td>

        </tr>
        {% endfor %}

    </table>

    {% endif %}

    {% if cell_other_info_form %}

    <h3 style="color:darkRed;">Other Info</h3>

    <table>


        {% for field in cell_other_info_form %}
        <tr>

             <td>{{ field.label_tag }}</td><td>{{ field }}</td>

        </tr>
        {% endfor %}

    </table>

    {% endif %}


</div>

<div class="column" style="background-color:#ddd;">

    {% if cell_cathode_form %}

    <h2 style="color:mediumblue;">Cathode</h2>


    <table>
    {% for field in cell_cathode_form %}

        {% if field.name == 'cathode_specific_materials' or field.name == 'coating'%}

        {% else %}

        <tr>

            <td>{{ field.label_tag }}</td><td>{{ field }}</td>

        </tr>
        {% endif %}

    {% endfor %}
    </table>

    {% endif %}


    {% if cell_cathode_active_materials_form %}

    <h3 style="color:darkRed;">Cathode Active Materials</h3>

    <table>


        {% for field in cell_cathode_active_materials_form %}
        <tr>

             <td>{{ field.label_tag }}</td><td>{{ field }}</td>

        </tr>
        {% endfor %}

    </table>


    {% endif %}

<br>

Cathode Material Ratio : {{ cell_cathode_form.cathode_specific_materials }}<br>

<a href="{% url 'ElectrolyteDatabase:register_new_cathode_specific_material_ratio' %}">Register New Cathode Specific Material Ratio</a>

<br><br>

Cathode Coating : {{ cell_cathode_form.coating }}<br>
<a href="{% url 'ElectrolyteDatabase:register_new_cathode_coating' %}">Register New Cathode Coating</a>

<br>
<br>
<strong>Cathode Conductive Additive Notes:</strong>
{% for form in cathode_conductive_additive_formset %}
    <br>
    {{ form.notes }}

{% endfor %}
<br>
<br>

{% if cathode_component_formset %}

<br>
    <table>

    <th>Chemical Formula</th><th>Atom Ratio</th>
    {% for form in cathode_component_formset %}
    {{ form.hidden_id }}
    <tr>
        <td>{{ form.chemical_formula }}</td><td>{{ form.atom_ratio }}</td>
    </tr>

    {% endfor %}

    </table>

{% endif %}
<br>
{% if cathode_binder_form %}

    <strong>Cathode Binder Notes</strong><br>

    <table>
    {% for field in cathode_binder_form %}
        <tr>
            <td>{{ field.label_tag }}</td><td>{{ field }}</td>
        </tr>
    {% endfor %}
    </table>

{% endif %}


{% if vendor_info_form %}
<h2 style="color:mediumblue;">Vendor Information</h2>

<table>
    {% for field in vendor_info_form %}
        <tr>
            <td>{{ field.label_tag }}</td><td>{{ field }}</td>
        </tr>
    {% endfor %}
</table>

{% endif %}

</div>

<div class="column" style="background-color:#aaa;">

    {% if cell_anode_form %}

    <h2 style="color:mediumblue;">Anode</h2>

    <table>
    {% for field in cell_anode_form %}

        {% if field.name == 'anode_specific_materials'%}

        {% else %}

        <tr>

             <td>{{ field.label_tag }}</td><td>{{ field }}</td>

        </tr>

        {% endif %}

    {% endfor %}
    </table>

    {% endif %}


    {% if cell_anode_active_materials_form %}

    <h3 style="color:darkRed;">Anode Active Materials</h3>

    <table>


        {% for field in cell_anode_active_materials_form %}
        <tr>

             <td>{{ field.label_tag }}</td><td>{{ field }}</td>

        </tr>
        {% endfor %}

    </table>

    {% endif %}<br>
<br>
<strong>Anode Conductive Additive Notes:</strong>
{% for form in anode_conductive_additive_formset %}
    <br>
    {{ form.notes }}

{% endfor %}
<br><br>

Anode Material Ratio: {{ cell_anode_form.anode_specific_materials }}<br>

<a href="{% url 'ElectrolyteDatabase:register_new_anode_specific_material_ratio' %}">Register New Anode Specific Material Ratio</a>

<br><br>

{% if anode_component_formset %}

<br>
    <table>

    <th>Chemical Formula</th><th>Atom Ratio</th>
    {% for form in anode_component_formset %}
    {{ form.hidden_id }}
    <tr>
        <td>{{ form.chemical_formula }}</td><td>{{ form.atom_ratio }}</td>
    </tr>

    {% endfor %}

    </table>


<br>
{% endif %}
<br>
{% if anode_binder_form %}

    <strong>Anode Binder Notes</strong><br>

    <table>
    {% for field in anode_binder_form %}
        <tr>
            <td>{{ field.label_tag }}</td><td>{{ field }}</td>
        </tr>
    {% endfor %}
    </table>

{% endif %}

</div>

</row>

</form>

{% endif %}

{% endblock %}