{% extends "ElectrolyteDatabase/main_page.html" %}

{% block content %}

<style>
    table {
        border-collapse:collapse;

    }
    table, th, td {
        border:1px solid black;}

</style>


<h3>Register New Electrolyte</h3>

<form action="{% url 'ElectrolyteDatabase:register_new_electrolyte' %}" method="post" enctype="multipart/form-data">

    {% csrf_token %}
    {{ salt_component_formset.management_form }}
    {{ solvent_component_formset.management_form }}
    {{ alias_name_formset.management_form }}


Name of this electrolyte (alias):  {% for form in alias_name_formset %}{{ form.management_form }}{{ form.name }}{% endfor %}
<br>
<br>
<strong>Salts</strong>
<table>

    <tr>
        <th>Molecule</th><th>Molality(mol/kg)</th>
    </tr>

    {% for form in salt_component_formset %}

        {{ form.management_form }}

        <tr>
            <td>{{ form.molecule }}</td><td>{{ form.molal }}</td>

        </tr>

    {% endfor %}

</table>

<br>

<strong>Solvents</strong>

<table>

    <tr>
    <th>Molecule</th><th>Weight%</th>
    </tr>

    {% for form in solvent_component_formset %}

        {{ form.management_form }}

        <tr>
            <td>{{ form.molecule }}</td><td>{{ form.weight_percent }}</td>
        </tr>

    {% endfor %}

</table>

<input type="submit" name = 'submit_electrolyte' value="Register" />

<br>

{% if already_exists_message %}

    {{ already_exists_message }}

    <br>
    <input type="submit" name="add_alias" value="Yes" /> <br>
    <input type="submit" name="do_not_add_alias" value="No" /> <br>

{% endif %}

</form>

<script type="text/javascript">
    $(".chosen").chosen();
</script>

{% endblock %}