{% extends "ElectrolyteDatabase/main_page.html" %}

{% block content %}


<style>
    table {
        border-collapse:collapse;

    }
    table, th, td {
        border:1px solid black;}

</style>

<form action="{% url 'ElectrolyteDatabase:register_new_cathode_family' %}" method="post" enctype="multipart/form-data">

{% csrf_token %}

{% if show_existing_family_table %}

<strong>Existing Cathode Families</strong>


<table>
    <tr>
        <th>
            Name
        </th>
    </tr>
    {% for mat in list_of_cathode_families %}
        <tr>
            <td>{{ mat }}</td>
        </tr>
    {% endfor %}

</table>
<br><br>
{% endif %}

<strong>Register New Cathode Families</strong>

<table>
    <tr>
        <th>
            Name
        </th>
    </tr>
    <tr>
        <td>{{ register_cathode_family_form.name }}</td>
    </tr>

</table>

<input type="submit" name ='register_new_cathode_family' value="Submit" />

</form>


{% endblock %}
