
{% extends "ElectrolyteDatabase/main_page.html" %}

{% block content %}



<style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

table {
    border-collapse:collapse;

}
table, th, td {
    border:1px solid black;}


</style>

<form action="{% url 'ElectrolyteDatabase:register_cathode_anode_info' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}

{{ actual_anode_specific_materials_formset.management_form }}
{{ actual_cathode_specific_materials_formset.management_form }}

<!-- Anode Column -->

<div class="column">


<strong>Register New Anode Families</strong>
<br>
<table>
    <tr>
        <th>
            Name
        </th>
    </tr>
    {% for mat in list_of_anode_families %}
        <tr>
            <td>{{ mat }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td>{{ register_anode_family_form.name }}</td>
    </tr>

</table>
<input type="submit" name ='register_cathode_anode_info' value="Register New" />
<br>
<br>

<strong>Register New Anode Specific Materials</strong>
<br>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Anode Family
        </th>

    {% for mat in list_of_anode_specific_material_ratios %}
        <tr>
            <td>{{ mat.name }}</td><td>{{ mat.anode_family }}</td>
        </tr>
    {% endfor %}

    </tr>
    <tr>
        <td>{{ register_anode_specific_materials_form.name }}</td><td>{{ register_anode_specific_materials_form.anode_family }}</td>
    </tr>

</table>
<input type="submit" name ='register_cathode_anode_info' value="Register New" />
<br>
<br>

<strong>Actual Anodes</strong><br>

<table>

    <tr>
        <th>Actual</th><th>SMR</th>
    </tr>
    {% for form in actual_anode_specific_materials_formset %}
    <tr>
        <td>{{ form.material_notes }}</td><td>{{ form.specific_material }}</td>
    </tr>
    {% endfor %}

</table>
</div>


<!-- Cathode Column -->

<div class="column">


<strong>Register New Cathode Families</strong>
<br>
<table>
    <tr>
        <th>
            Name
        </th>
    </tr>
    {% for mat in list_of_cathode_families %}
        <tr>
            <td>{{ mat }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td>{{ register_cathode_family_form.name }}</td>
    </tr>

</table>
<input type="submit" name ='register_cathode_anode_info' value="Register New" />
<br>
<br>

<strong>Register New Cathode Specific Materials</strong>
<br>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Cathode Family
        </th>

    </tr>
    {% for mat in list_of_cathode_specific_material_ratios %}
        <tr>
            <td>{{ mat.name }}</td><td>{{ mat.cathode_family }}</td>
        </tr>
    {% endfor %}

    <tr>
        <td>{{ register_cathode_specific_materials_form.name }}</td><td>{{ register_cathode_specific_materials_form.cathode_family }}</td>
    </tr>

</table>
<input type="submit" name ='register_cathode_anode_info' value="Register New" />
<br>
<br>
<strong>Actual Cathodes</strong><br>

<table>

    <tr>
        <th>Actual</th><th>SMR</th>
    </tr>
    {% for form in actual_cathode_specific_materials_formset %}
    <tr>
        <td>{{ form.material_notes }}</td><td>{{ form.specific_material }}</td>
    </tr>
    {% endfor %}

</table>


</div>

</form>

{% endblock %}